* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff1f2;
  font-family: sans-serif;
  color: #333;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(to right, #c86b8e, #da69fa, #6e7dfd);
  padding: 1.5em;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

.sidebar nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  opacity: 1;
}

.content {
  grid-area: content;
  padding: 2em;
}

.hero {
  text-align: center;
  margin-bottom: 3em;
}

.hero img {
  width: 180px;
  border-radius: 100%;
  margin-bottom: 1em;
}

.hero h1 {
  font-size: 2em;
  color: #373046;
}

.hero h2 {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 1em;
}

.hero p {
  color: #666;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

.action-btn {
  text-decoration: none;
  color: white;
  background-color: #567bfb;
  padding: 0.6em 1.8em;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.action-btn:hover {
  background-color: #3455db;
}

.section {
  background: #fff;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 2em;
}

.section h2 {
  margin-bottom: 0.8em;
  font-size: 1.8em;
  color: #373046;
}

.section ul {
  padding-left: 1.5em;
  list-style: disc;
  color: #555;
}

.section p {
  line-height: 1.6;
}

.footer {
  grid-area: footer;
  background: white;
  padding: 2em 1em;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.footer ul li a {
  text-decoration: none;
  color: #888;
}

.footer ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 0.3em;
}

.footer ul li p {
  font-size: 0.8rem;
}

/* DESKTOP LAYOUT */
@media (min-width: 1040px) {
  .container {
    grid-template-areas:
      "sidebar content"
      "sidebar footer";
    grid-template-columns: 250px 1fr;
  }

  .sidebar nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar {
    padding-top: 6em;
    text-align: left;
  }

  .hero {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .hero img {
    width: 220px;
    margin: 0;
  }

  .hero-content {
    flex: 1;
  }

  .hero p {
    width: 90%;
  }
}
